*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.container{
    width: 400px;
    padding:50px 10px 50px 10px;
    background:rgba(255, 255, 255, 0.773);
    border-radius: 10px;
    border: 2px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
h1{color: rgb(43, 43, 43);
font-size: 1.5rem;
text-align: center;
display:block;
padding-bottom: 30px;
}
input[type="text"]{
    width:100%;
    padding: 10px 0px;
    margin: 10px 0px;
}
#submit-form{
    display:block;
    width: 100%;
    background-color: red;
    padding: 20px 0px;
    color: white;
    cursor: pointer;

}
#submit-form:hover{
    color: black;
    background-color: yellow;
}
.chon{
    display: flex;
    justify-content: left;
}
.chon1{
    padding: 20px 20px;
}
#popup{
    background-color: white;
    width: 300px;
    padding: 50px 10px ;
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    left: 0;
    text-align: center;
    z-index: 10;
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.388) ;
    transition:0.5s;
    opacity: 0;
}
.active{
    opacity: 1!important;
    left: 50%!important;
    transform: translateX(-50%);
}